svg {
	height: 100%;;
	width: 100%;
}

#whole-body {
	height: 100%;
	width: 100%;
}

div#layout {
  text-align: center;
}

div#container {
  width: 90%;
  height: 600px;
  margin: auto;
  text-align: center;
}
.bar {
  fill: #1e78cb;
}

text {
  font-size: 12px;
  fill: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}





